@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@600&display=swap');

.part:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

i:hover{
    color: rgb(135, 147, 158);
}

h6{
    font-family: 'Pathway Extreme', sans-serif;
}